body{
    color: white;
    background: linear-gradient(120deg, black,rgb(3, 3, 38), rgb(36, 39, 106));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:burlywood;
}

.container{
    height: 120vh;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.geral, .dados, .simulacao{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.geral{
    border:5px solid white;
    padding: 0 10px 20px 10px;
    

}

.dados input, button {
    height: 30px;
    margin-top: 30px;
}

button{
    color: burlywood;
    border: 2px solid black;
    background: linear-gradient(120deg, black,rgb(3, 3, 38), rgb(36, 39, 106));
    height: 40px;
    width: 80px;
}

.mark{
    margin-right: 35px;
}

.dados-simulacao{
    display: flex;
}

span{
    border: 2px solid white;
    width: 100px;
    height: 30px;
    margin: 16px 10px ;
    box-shadow: inset 0 0 5px;
    background-color: black;
    text-align: center;
}

